{
    "openapi": "3.0.0",
    "info": {
      "title": "Luceed API",
      "version": "2.189",
      "description": "Web services"
    },
    "servers": [
      {
        "url": "http://apidemo.luceed.hr"
      }
    ],
    "security": [
      {
        "basicAuth": []
      }
    ],
    "paths": {
      "/datasnap/rest/artikli/dokumenti/{file_uid}": {
        "get": {
          "operationId": "getProductDocuments",
          "summary": "Products – retrieval of product documents",
          "description": "Retrieval of product documents via document FK",
          "tags": ["Products"],
          "parameters": [
            {
              "name": "file_uid",
              "in": "path",
              "required": true,
              "description": "File PK in Luceed database",
              "schema": {
                "type": "string"
              },
              "example": "1-42"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/FilesResponse"
                  },
                  "example": {
                    "result": [
                      {
                        "files": [
                          {
                            "file_uid": "1-42",
                            "naziv": null,
                            "filename": "600666103.png",
                            "opis": null,
                            "redoslijed": "1",
                            "public": "D",
                            "md5": "c37bfa253e369efa680e10832d49822b",
                            "content": "Base64 encoded file content"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "schemas": {
        "FilesResponse": {
          "type": "object",
          "properties": {
            "result": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/File"
                    }
                  }
                }
              }
            }
          }
        },
        "File": {
          "type": "object",
          "properties": {
            "file_uid": {
              "type": "string",
              "description": "File PK in Luceed database",
              "maxLength": 50
            },
            "filename": {
              "type": "string", 
              "description": "Filename",
              "maxLength": 200
            },
            "naziv": {
              "type": "string",
              "description": "Name of file",
              "maxLength": 200
            },
            "opis": {
              "type": "string",
              "description": "File description"
            },
            "redoslijed": {
              "type": "string",
              "description": "Order",
              "maxLength": 50
            },
            "public": {
              "type": "string",
              "description": "Public (yes/no)",
              "enum": ["D", "N"],
              "maxLength": 1
            },
            "md5": {
              "type": "string",
              "description": "MD5 of filename",
              "maxLength": 32
            },
            "content": {
              "type": "string",
              "description": "Base64 encoded database"
            }
          }
        }
      },
      "securitySchemes": {
        "basicAuth": {
          "type": "http",
          "scheme": "basic",
          "description": "HTTP Basic Authentication with username and password"
        }
      }
    }
  }